.scrollBtn {
  background-color: var(--clr-main);
  background-image: url('../../assets/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  border-radius: 50%;
  border: none;
  color: white;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: .1s;

  position: fixed;
  bottom: 15px;
  right: 15px;
}

.scrollBtn:hover {
  background-color: var(--clr-dark-main);
}