.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menuContainer {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.sortFilter {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
  padding-inline: .75rem;
}

.refreshBtn {
  background-color:  var(--clr-main);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: .1s;
}
.refreshBtn:hover {
  background-color: var(--clr-dark-main);
}

.createRecipe {
  font-size: 1.25rem;
}
.createRecipe a {
  color: var(--clr-main);
  font-weight: 900;
  text-decoration: none;
  transition: 0.1s;
}
.createRecipe a:hover {
  text-decoration: underline;
  color: var(--clr-dark-main);
}

@media (min-width: 500px) {
  .sortFilter {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 850px) {
  .homeContainer {
    margin-top: 5.4rem;
    /* display: grid;
    grid-template-columns: .25fr 1fr; */
    position: relative;
  }
  .menuContainer {
    margin-top: 5.35rem;
    top: 0;
    bottom: 0;
    background: var(--clr-grey);
    position: fixed;
    width: 30%;
    justify-content: flex-start;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .sortFilter {
    flex-direction: column;
    gap: 1.5rem;
  }
  .cardContainer {
    position: absolute;
    right: 0;
    width: 70%;
  }
}

@media (min-width:1150px) {
  .menuContainer {
    gap: 2.5rem;
  }
}