.card {
  text-decoration: none;
  text-align: left;
  color: inherit;
  background-color: white;
  box-shadow: var(--clr-light-grey) 0px 1px 4px 0px;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  transition: 0.1s ease-out;
}
.card:hover {
  box-shadow: var(--clr-light-grey) 0px 1px 8px 0px;
}

.imgHealthSContainer {
  position: relative;
}

.img {
  border-radius: 8px 8px 0 0;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.body {
  padding: 1rem 1.25rem;
}

.title {
  font-size: 1.25rem;
}

.healthS {
  color: var(--clr-dark-grey);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  padding: .25em .5em;
  border-radius: 4px 0 0 0;
}

.diet {
  color: var(--clr-dark-grey);
  font-size: .75rem;
  margin-top: .75em;
}
