.pagination {
  display: flex;
  gap: 1px;
}

.pagination>* {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: var(--clr-black);
  color: white;
  border-radius: .25rem;
  cursor: pointer;
  transition: 0.1s;
}

.pagination>*:hover {
  background-color: var(--clr-dark-main);
}

.pagination>.disabled,
.pagination>.disabled:hover {
  opacity: .3;
  cursor: not-allowed;
  background-color: var(--clr-black);
}

.pagination>.active {
  background-color: var(--clr-main);
  font-weight: 500;
}

.arrow {
  height: 1em;
}

@media (min-width:1150px) {
  .pagination {
    gap: 2px;
  }

  .pagination>* {
    height: 2.25rem;
    width: 2.25rem;
  }
}