.cardContainer {
  padding: 1rem;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (min-width: 850px) {
  .cardContainer {
    position: absolute;
    right: 0;
    width: 70%;
  }
}